html { 
    font-family: "Archivo Narrow", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

h1 {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 16px;
}

h2 {
    font-size: 30px;
    line-height: 1;
}

h3 {
    font-size: 40px;
    text-align: center;
    line-height: 1;
    margin-bottom: 39px;
}

h4 {
    font-size: 20px;
    /* line-height: 1; */
    margin-bottom: 6px;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: rgba(255, 0, 0, 0.5);
    background-image: url(../img/header-image-web.jpg); 
    background-position: center; 
    background-size: cover;
    text-align: center;
    padding: 166px 0 163px 0;
    color: white;
}

div.column {
    /* background-color: rgba(0, 255, 0, 0.4);    */
    width: 960px;
    margin: auto;

}

section {
    padding: 48px 0 40px 0;
}

section.intro {
    background-color: rgba(194, 16, 16);
    color: white
}

.dancers {
    float: right; 
    border: 1px solid white;
    margin-left: 38px;
    margin-bottom: 38px;
}

section.photo-grid {
    background-color: rgb(74, 74, 74);
    color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 23px;
    margin-top: -2px;
}

li {
    display: grid;
    grid-template-columns: 200px 1fr;
}

li > div {
    padding-left: 12px;
    padding-right: 22px;
}

section.final-section {
    background-color: rgba(255, 0, 0);
    padding-bottom: 100px;
    color: white
    
}

p.final-text {
  font-size: 26px;
  text-align: center;
  margin: 0 auto;
  width: 703px;
  line-height: 1.38;
}

section.final-section > div.column  {
    margin-top: 24px;
}

footer {
 padding-top: 41px;
 background-color: rgb(0, 0, 0);
 padding-bottom: 28px;

}

p.footer-text {
    margin-left: -4px;
    font-size: 18px;
    color: white;
}


