 p {
        color: black;
        font-size: 16px;
        font-family: Roboto;
        margin-left: 420px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
  img{
        width: 300px;
        height: auto;
        margin-top: 10px;
        margin-left: 50px;
        border-radius: 10px;
        border-style: solid;
        border-color: white;
        border-width: 1px;
  }

  h3{
        font-family: serif;
        font-style: italic;
        font-weight: 600;
        font-size: 16px;
        color: black;
        margin-left: 400px;
        margin-bottom: 5px;
        margin-top: 30px;
  }
  h1{
        font-family: serif;
        font-style: italic;
        font-size: 36px;
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 1px;
        color: white
  }
  h2{
        font-family: Roboto;
        font-weight: 400;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 1px;
        color: white
  }
  body {
    background-color: #fabda4;
  }
  h4{
        color: white;
        font-size: 8px;
        font-family: Roboto;
        font-style: italic;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-right: 50px;
        text-align: right;
  }
