header { 
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}
			<li>Make the font-size of the "See All..." links <code>0.8em</code>, and make them <code>uppercase</code>.</li>
.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

.shows h1 {
	font-size: 2.5rem;
}

.shows h2 {
	text-transform: uppercase;
	font-size: 1rem;
}

.shows h1,
.shows h2 {
	font-weight: 300;
}

.cast img {
	width: 100%;
}

.cast ul li {
	width: 25%;
}

.shows > li {
	border-top: 1px solid black;
}

nav .selected a {
	font-weight: bold;
	color: black;
}

.cast div {
	font-size: 0.8rem;
}

.cast a div:first-of-type {
	font-weight: bold;
}

.cast a div:last-of-type {
	font-style: italic;
}

#game-of-thrones .seasons ul li:last-child::after {
	content: "*";
}

#game-of-thrones .seasons ul::after {
	content: "* Final Season";
	display: block;
	font-size: 0.7rem;
	color: #999;
}