body { 
    background-color: #f6f4f0;
    margin: 10%;  
}

article {
    background-color: white;
    padding: 0.5rem 2rem 1rem 2rem;
    
    margin: 3rem 0 0 20rem;
    box-shadow: 10px 10px 5px lightgray;
}

h1 {
    margin-bottom: 2px;
    text-transform: uppercase;
}

h2 {
    margin-top: 2px;
    font-style: italic;
    font-weight: 400;
}

h3 {
    text-transform: titlecase;
    font-weight: 400;
    margin: 2px;
}

h4 {
    text-transform: titlecase;
    margin-bottom: 15px;
}

h5 {
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px
}
p {
    margin-left: 20px;
    margin-top: 5px;
}


/* FONT STYLE CLASSES */
.italic {
    font-style: italic;
}
.regular {
    font-style: normal;
}

/* FONT WEIGHT CLASSES */
.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}

/* LETTER SPACING CLASSES */
.letter-spacing-0 {
    letter-spacing: 0px;
}
.letter-spacing-1 {
    letter-spacing: 1px;
}
.letter-spacing--1 {
    letter-spacing: -1px;
}

/* TEXT TRANSFORM CLASSES */

.text-transform-uppercase {
    text-transform: uppercase;
}
.text-transform-lowercase {
    text-transform: lowercase;
}
.text-transform-capitalize {
    text-transform: capitalize;
}

/* TEXT DECORATION CLASSES */

.text-decoration-underline {
    text-decoration: underline;
}
.text-decoration-overline {
    text-decoration: overline;
}
.text-decoration-line-through {
    text-decoration: line-through;
}
